<h2 class="title">
  <%= @post.title %><br>
  <%= @post.user.email %>
</h2>

<p class = "date">
  Submitted <%= time_ago_in_words(@post.created_at) %> Ago
  <% if (user_signed_in? && (current_user.id == @post.user_id))%>
  | <%= link_to 'Edit', edit_post_path(@post) %>
  | <%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: 'Are you sure?'} %>
  <% end %>
</p>

<p class= "body">
  <%= @post.body %>
</p>

<div id="comments">
  <h2><%= @post.comments.count %> Comments</h2>
  <% @comments.each do |comment| %>
    <div class ="post_wrapper">
      <h2 class ="name"><%= render comment %></h2>
    </div>
    <% end %>
  <%= will_paginate @comments %>
  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @comments %>
    </div>
    <%= will_paginate @comments, :container => false %>
  </div>
  <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert") %>
  <% end %>
<% if (user_signed_in?)%>
  <h3>Add a comment</h3>
  <%= render "comments/form" %>
</div>

<% end %>
