<!DOCTYPE html>
<html>
  <head>
    <title>RacquetballRi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="sidebar">
      <div id="logo">
        <%= link_to root_path do %>
          <%= image_tag "http://robdedel.nl/wpimages/wpb1d1b61a.gif" %>
          <% end %>
      </div>
      <h1>RI Racquetball</h1>
    </div>
    <ul>
        <li><%= link_to "All Posts", root_path %></li>
        <li>gyms in RI  </li>
        <li>players of RI</li>
    </ul>
          <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert") %>
    <% end %>
  <div id="yieldsContainer">
    <div class ="yields"><%= yield %></div>
    <div class ="yields"><%= content_for?(:posts) ? yield(:posts) : yield %></div>
  </div>
  </body>
</html>
